<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PacMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PacMan.Properties.Settings>
            <setting name="ShowDialogOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastInserterID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PlayerUID" serializeAs="String">
                <value />
            </setting>
        </PacMan.Properties.Settings>
    </userSettings>
</configuration>